# Web Framework
fastapi>=0.104.0
uvicorn>=0.24.0
jinja2>=3.1.0
python-multipart>=0.0.18

# Database
sqlalchemy>=2.0.0
alembic>=1.12.0

# Eero API Client
eero-client @ git+https://github.com/Yeraze/eero-client.git@relax-dependency-pins

# Background Tasks
apscheduler>=3.10.0

# Monitoring Exports
prometheus-client>=0.19.0

# HTTP Client (for testing)
httpx>=0.25.0

# Notifications
apprise>=1.6.0

# Utilities
python-dateutil>=2.8.0
cryptography>=46.0.5
pydantic>=2.5.0
pydantic-settings>=2.1.0
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
markdown>=3.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
